<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>

<div class="rendered-form">
    <div class="">
        <h1 access="false" id="control-5259405">{{header}}</h1></div>
    <div class="">
        <p access="false" id="control-8325600">Инструкция
            <div>
                <br>
                <div>
                    Делаем запрос такого вида: /user/anyusername, где после второго / идет любое имя пользователя.
                    Если такой пользователь существует в БД, то в браузер возвращается его ID из БД;
                    если пользователя в БД нет, то он создается и его ID также возвращается в браузер.
                    Дополнительно выводится сообщение о том, существовал ли пользователь или был создан.
                </div>
            </div>
            <div>
                <br>
            </div>
            <div>Требование к имени пользователя:</div>
            <div>длина не более 8 символов.</div>
        </p>
    </div>
</div>

</body>
</html>
